html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: $primary-dark;
    font-family: $primary-font, sans-serif;
    color: $text-light;
}

.root-container {
    display: flex;
    flex-direction: column;
}

.card--container {
    display: grid;
    margin: 1em auto;
    width: 80%;
    gap: 2em;

}

// don't believe this class is needed 
// .container {
//     display: grid;
//     grid-template-areas: repeat(2, 1fr) / repeat(2, 1fr);
//     width: 80%;
//     margin-top: 2em;

// }

.card {
    padding: 0.4em;
    margin: 0.5em;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}


.router-link {
    text-decoration: none;
    color: $text-light;

    &:active,
    &:visited {
        color: $text-light;
        
    }

    &:hover {
        color: $text-light;
        background-color: rgba($bright-accent, 0.5);
        border-radius: 10px;
        padding: 0 0.3em;
    }
}

@media (min-width: 800px) {
    .card--container {
        grid-template-columns: repeat(2, 1fr);
    }
}