html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: $primary-dark;
    font-family: $primary-font, sans-serif;
    color: $text-light;
    
}

.card--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1em;
    width: 80%;
}

.container {
    display: grid;
    grid-template-areas: repeat(2, 1fr) / repeat(2, 1fr);
    width: 80%;
    margin: 1em;
}

.card {
    padding: 0.4em;
    margin: 0.8em;
    //max-width: 500px;
}