html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2B293C;
  font-family: "Outfit", sans-serif;
  color: #E2D9CA;
}

.root-container {
  display: flex;
  flex-direction: column;
}

.card--container {
  display: grid;
  margin: 1em;
  width: 80%;
}

.container {
  display: grid;
  grid-template-areas: repeat(2, 1fr)/repeat(2, 1fr);
  width: 80%;
  margin-top: 6em;
  position: absolute;
}

.card {
  padding: 0.4em;
  margin: 0.8em;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .card--container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4em;
  z-index: 1;
  background-color: #6A4973;
}
.header--logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.5em;
}
.header--logo-headline {
  margin: 0;
  font-size: 2rem;
  color: "Outfit";
}
.header--logo-subhead {
  margin: 0;
  font-size: 0.75rem;
}

.nav {
  list-style-type: none;
}
.nav .heart-link {
  font-size: 2rem;
  margin-right: 0.5em;
}
.nav .heart-link:hover {
  color: #E2D9CA;
}

.card--image {
  border-radius: 15px;
  max-height: 500px;
  max-width: 500px;
  object-fit: cover;
}

.heart-link {
  color: #fa6ebb;
}
.heart-link:hover, .heart-link:focus {
  color: #E2D9CA;
}

.heart-link-active {
  color: #94094a;
}

.divider {
  background-color: #4A94A8;
  width: 70%;
  height: 5px;
  margin: 1em;
  border-radius: 5px;
  align-self: center;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current-location {
  align-self: center;
}

.modal {
  position: relative;
  top: 100px;
  left: 2px;
  max-width: 400px;
  z-index: 1;
  margin: 0.5em;
  border-radius: 15px;
  background-color: #6A4973;
  -webkit-box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.84);
  box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.84);
}
.modal-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
  background-color: #2B293C;
  border-radius: 15px 15px 0 0;
  padding: 0.5em;
}
.modal .headline {
  margin: 0;
}
.modal .headline,
.modal .heart-link {
  justify-self: center;
  font-size: 2rem;
}
.modal .heart-link,
.modal .heart-link:hover,
.modal .heart-link:focus {
  color: #fa6ebb;
  align-self: center;
}
.modal-close {
  font-size: 2rem;
  cursor: pointer;
  margin: 0;
  justify-self: self-end;
}
.modal-close:hover {
  color: #4A94A8;
}
.modal-catGroup {
  padding: 0.5em;
}
.modal-catName {
  margin: 0.2em 0.2em 0 0.2em;
  font-size: 2rem;
}
.modal-catInfo {
  font-size: 0.75rem;
}

.card--cat-name {
  font-weight: 700;
  margin: 0.5em 0 0 0;
}
.card--title {
  display: flex;
  justify-content: space-between;
  font-size: 1.75rem;
  align-items: center;
}
.card--cat-location {
  margin: 0.5em 0;
  font-size: 0.75rem;
}
.card--cat-desc {
  margin-top: 0.75em;
}

form input {
  padding: 0.5em;
  background-color: #E2D9CA;
  color: #6A4973;
  border: none;
  border-radius: 10px;
  margin: 0.3em;
  font-family: "Outfit";
  align-self: center;
}
form .location-marker {
  color: #4A94A8;
  font-size: 1.5rem;
  margin-right: 0.5em;
}

/*# sourceMappingURL=style.css.map */
