form {
    input {
        padding: 0.5em;
        background-color: $text-light;
        color: $dark-accent;
        border: none; 
        border-radius: 10px;
        margin: 0.5em;

        font-family: $primary-font;
    }

    .location-marker {
        color: $bright-accent;
        font-size: 1.5rem;
        margin: 0.5em;
    }
}