form {
    input,
    button {
        padding: 0.5em;
        background-color: $text-light;
        color: $dark-accent;
        border: none; 
        border-radius: 10px;
        margin: 0.3em;

        font-family: $primary-font;
        align-self: center;
        cursor: pointer;
    }

    button:hover {
        background-color: $bright-accent;
        color: $text-light;
        font-weight: 700;
    }

    .location-marker {
        color: $bright-accent;
        font-size: 1.5rem;
        margin-right: 0.5em;
    }
}