.filter-headline {
    font-size: 1.25rem;
    color: $bright-accent;
    margin:0;
}

.filter-form {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    .checkbox {
        padding-left: 0.3em;
    }
}

.checkbox-container {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
}