.card--image {
    border-radius: 15px;
    max-height:800px;
    max-width: 100%;
    object-fit: cover;

    transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    filter 550ms;

    &:hover {
        transform: scale(1.02);
        filter:contrast(1.2);
    }

}

.heart-link {
    color: $heart;

    &:hover,
    &:focus {
        color: $text-light;
    }
}

.heart-link-active {
    color: $heart-active;
}