.nav {

    list-style-type: none;

    &-link {
        position:relative;
    }

    .heart-link {
        font-size: 2rem;
        margin-right: 0.5em;

        &:hover {
            color: $text-light;
        }
    }

    .favorite-count {
        position: absolute;
        top: 7px;
        left: 12px;
        color: $primary-dark;
        text-decoration: none;
        font-size: 0.75rem;
        font-weight: 700;

    }


}
