.nav {

    list-style-type: none;

    .heart-link {
        color: $heart;
        font-size: 2rem;
        margin-right: 0.5em;

        &:hover {
            color: $text-light;
        }
    }
}
