.sidebar {
    background-color: $dark-accent;
    
    //need these two to move the sidebar in/out
    // transform: translateY(-1000px);
    // transform: translateY(0);
}


.sidebar-arrow, .sidebar-close {
   font-size: 2rem;
   padding: 0.5em 0 0 0.5em;

   &:hover {
       color: $bright-accent;
       cursor: pointer;
   }
}
